
@model Cake_Shop_Thelins.ViewModels.CakesListViewModel


<h1>cake shop</h1>

@*@foreach (var cake in Model.Ca)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@pie.ImageThumbnailUrl" alt="">
            <div class="caption">
                <h3 class="pull-right">@pie.Price.ToString("c")</h3>
                <h3>
                    <a>@pie.Name</a>
                </h3>
                <p>@pie.ShortDescription</p>
            </div>
        </div>
    </div>*@


    <div>

        <h1>@Model.CurrentCategory</h1>
        @foreach (var cake in Model.Cakes)
    {
        <h2> @cake.Name</h2>
        <h2> @cake.Price.ToString("c")</h2>

        <h2> @cake.Category.CategoryName</h2>

    }
    </div>